.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
  }
  
  .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  article{
    border: 1px white;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #dbc4c4;
    /* border-radius: 0.1rem; */
    padding: 17px;
  }