
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f70c0c;
} */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 90px;
  background-color: #c6c44e;
  position: relative;
}

.logo {
    width: 100px;
    height: 85px;
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}
.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}
.fixTableHead { 
  overflow-y: auto; 
  height: 320px; 
  margin: auto;
    margin-left: 300px;
    width: 70%;
} 
.fixTableHead thead th { 
  position: sticky; 
  top: 0; 
} 
table { 
  border-collapse: collapse;         
  width: 100%; 
} 
th, 
td { 
  padding: 8px 15px; 
  border: 2px solid #529432; 
} 
th { 
  background: #ABDD93; 
} 
ul{
  list-style-type: circle;
}
.wrapper .sidebar .profile img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}
.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.title
{
    margin:auto;
}
.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #f40c0c;
  font-weight: 500;
  position: relative;
}
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(236, 8, 8);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #e85e09;

    background:rgb(238, 18, 18);
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #e91506;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ee0e0e;
}